@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

h1 {
  text-align: center;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #DC143C;
}
